body{

   
}

.background {
    display: inline-block;
    background-image: url("day1drnuotr.png");
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    }

    .container {
        display: inline-block;
        width: 800px;
        /*margin-top: 80px;*/
        /*margin-left: calc(50% - 400px);*/
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}

    .left{
        display: inline-block;
        width: 40%;
        float: left;
        background-image: url("./day1drnuotr.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 50px;
        position: absolute;
        top: 20px;
        left: 0px;
        bottom: 20px;
    }

        h1{
            text-transform: capitalize;
            color: #ffffff;
            font-weight: normal;

        }

        footer{
            color: #ffffff;
            position: absolute;
            left: 50px;
            right: 50px;
            bottom: 20px;

        }
            footer > a{
                color: #ffffff;

            }

            footer > span{
            }

    .right{
        padding: 80px;
        background-color: #ffffff;
        display: inline-block;
        width: 60%;
        float: right;
        position: relative;
    }

        .btn,
        .form-row > span,
        .form-row > a

        {
            display: inline-block;
            float: left;
            padding: 10px;
            font-size: 16px;
            line-height: 20px;
        }

        .btn{
            color: #ffffff;
            border-radius: 20px;
            padding-left: 50px;
            padding-right: 50px;
            background-color:#3366ff;
            /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,207cca+100 */
            background: #1e5799; /* Old browsers */
            background: -moz-linear-gradient(left,  #1e5799 0%, #207cca 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(left,  #1e5799 0%,#207cca 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right,  #1e5799 0%,#207cca 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#207cca',GradientType=1 ); /* IE6-9 */
        }


        .form-row > span{
            
        }

        .form-row > a{
      
       
    }
/*
        {
            float: left;
            display: inline-block;
           

        }

        {
            display: inline-block;
            float: left;
            color: #3366ff;
            text-decoration: none;
            padding: 10px;
            font-size: 14px;
            line-height: 20px;
        }*/

        .x {
            display: inline-block;
            background-color: pink;
            width: 80px;
            height: 80px;
            text-align: center;
            font-size: 24px;
            line-height: 76px;
            position: absolute;
            top: 0px;
            right: 0px;   
        }

        .x::before,
        .x::after {
            display: inline-block;
            content: "";
            width: 40px;
            height: 2px;
            background-color: red;
            transform:  translate(-50%, -50%)rotate(45deg);
            position: absolute;
            top: 50%;
            left:50%;
        }

        .x::after{
            transform:  translate(-50%, -50%)rotate(-45deg);
            
        }

/*body{
   
    background-color: #cccccc;
   
    display: inline-block;

    
}
.background {
    background-image: url("day1drnuotr.png");
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(15px);

    }
    

.container {
    display: inline-block;
    position: absolute;
    width: 644px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
    .left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-image: url("day1drnuotr.png");
        width: 40%;
        float: left;
        height: 374px;
        margin-top: calc((415px - 374px) / 2)
    }
        h1{
            font-weight: lighter;
            color: #80bbe6;
            margin-top: 30px;
            margin-left: 39px;
        }

        footer{
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-bottom: 18px;
            color: #80bbe6;
        }

        span{
            color: #6891af;
        }

    .right{
        display: inline-block;
        width: 60%;
        height: 415px;
        background-color: white;
        float: right;

    }
        .x{
            display: inline-block;
            float: right;
            margin-top: 1px;
            margin-right: 10px;
            color: #e1e1e1;
            font-size: 30px;
            font-weight: lighter;
        }
       
    
            .apacia{
                display: flex;
                flex-direction: row;
               justify-content: space-between;
                
            }
            .btn{
                float: left;
                color: #8db7df;
                border-radius: 20px;
				display: inline-block;
                padding: 3px 23px;
                background-color: blue;
            }

            .form-row > span{

            }
            .form-row > a{
                float: right;
                color: #9fb0de;
                text-decoration: none;
            }

        */
    
    